{% extends "layout.html" %}

{% block content %}

  {% if form.errors %}
    <p>Identifiants incorrects. Veuillez recommencer.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Vous n'êtes pas autorisé à voir cette page.</p>
    {% else %}
      <p>Veuillez vous connecter pour visualiser cette page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Se connecter">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p><a href="{% url 'password_reset' %}">Mot de passe oublié?</a></p>

{% endblock %}