{% extends "layout.html" %}

{% block content %}
    <h1>Livres empruntés</h1>

    {% if bookavailability_list %}
    <ul>

      {% for bookavailability in bookavailability_list %}
      <li class="{% if bookavailability.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookavailability.book.pk %}">{{bookavailability.book.title}}</a> ({{ bookavailability.due_back }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Aucun livre emprunté.</p>
    {% endif %}
{% endblock %}
